@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }
}

@media print {
  body {
    background: white;
  }
  .no-print {
    display: none !important;
  }
}
